header{
     background-color: red;
     color white;
}

body{
  background-color: blue
  color:cadetblue
}

footer{
background-color: coral;
color:black;
}

.imagem-2{
width: 40%
align-items: center;
margin-left: 200px

}